:root {
  --bg-color: rgb(3, 32, 42);
}
.footer {
  background-color: red;
  min-width: 240px;
  padding: 10px 40px 0 40px;
}

.footer-modules {
  margin-bottom: 15px;
}

.footer-links {
  margin: 0 0 15px 0;
  padding: 0;
}

ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(215px, 1fr));
}

li {
  margin-bottom: 15px;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: white;
  font-size: 24px;
  font-weight: bolder;
  white-space: nowrap;
}

.social {
  display: inline-flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  margin-right: 35px;
}

.connect {
  color: white;
  font-size: 16px;
  font-weight: bolder;
}

.social-icons {
  display: flex;
  justify-content: space-between;
}

.icon {
  height: 30px;
}

.info {
  display: inline-flex;
  flex-direction: column;
  gap: 15px;
}

.info-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(115px, 225px));
}

.about-box {
  margin-bottom: 10px;
}

.about-links {
  white-space: normal;
  font-weight: 100;
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.download-wrap {
  display: inline-flex;
  flex-direction: column;
  gap: 3px;
}

.dl-buttons {
  display: flex;
}

.apple {
  width: 108px;
  position: relative;
  top: 9px;
}

.google {
  width: 140px;
}

.bottom-wrap {
  display: flex;
  flex-wrap: wrap;
}

.bottom-div {
  flex: 0 0 50%;
  margin-bottom: 15px;
}

.bottom-links {
  font-size: 11px;
  color: white;
}

.copy {
  flex: 0 0 100%;
  margin-bottom: 15px;
}

@media only screen and (min-width: 768px) {
  .footer-links {
    text-align: center;
  }

  .footer-flex {
    display: flex;
    justify-content: space-around;
  }

  .info {
    flex: 0;
  }

  .social {
    justify-content: flex-start;
    width: 100%;
    flex: 0;
    margin-right: 0;
  }

  .social-icons {
    width: 152px;
  }

  .bottom-wrap {
    flex-wrap: nowrap;
    margin: 0 auto;
    width: 80%;
  }

  .copy {
    flex: 1;
  }

  .bottom-div {
    flex: initial;
    margin-left: 20px;
  }
}