:root {
  --bg-color: rgb(3, 32, 42);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  background-color: var(--bg-color);
}

.content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  min-width: 320px;
}

.header {
  background-color: var(--bg-color);
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  flex: 1;
}

.logo-bar {
  height: 44px;
}

.cut {
  flex: initial;
  width: 17px;
}

.nav {
  display: flex;
  justify-content: flex-start;
  gap: 5px;
  height: 40px;
  border-top: 8px solid red;
  border-bottom: 8px solid red;
}

.nav-btn {
  background-color: rgba(255, 0, 0, 0);
  color: white;
  -webkit-text-stroke: 1px black;
  font-weight: bolder;
  font-size: 28px;
  border: none;
  cursor: pointer;
}

.menu {
  background-color: white;
  margin: 15px 20px;
  border-radius: 3px;
}

.footer {
  background-color: red;
}

.footer-links {
  padding-left: 5px;
  margin-top: 0;
}
li {
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: white;
  /* -webkit-text-stroke: 1px black; */
  font-size: 22px;
  font-weight: bolder;
}

.social {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bolder;
}

.social-icons {
  display: flex;
  gap: 16px;
}

.icon {
  height: 30px;
}