:root {
  --bg-color: rgb(3, 32, 42);
}

body {
  box-sizing: border-box;
  margin: 0;
  background-color: var(--bg-color);
}

.content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  min-width: 320px;
}

.header {
  background-color: var(--bg-color);
  height: 10%;
  display: grid;
  grid-template-columns: 20fr 1fr;
  grid-template-rows: 0.5fr 2fr 0.5fr;
}

.logo {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  background: url(../logo.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.nav {
  display: flex;
  justify-content: flex-start;
  border-top: 10px solid red;
  border-bottom: 10px solid red;
}

.navBtn {
  padding: 10px 20px;
  background-color: rgba(255, 0, 0, 0);
  color: white;
  -webkit-text-stroke: 1px black;
  font-weight: bolder;
  font-size: 22px;
  border: none;
  cursor: pointer;
}